<?xml version="1.0"?>
<config>
    <modules>
        <MOC_CatalogOptionSortFix>
            <version>1.0.0</version>
        </MOC_CatalogOptionSortFix>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>MOC_CatalogOptionSortFix_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>